/*Custom Style Code here*/
.p10
	{
		padding-top:10px;
		padding-bottom: 10px;
	}
	.course-cancel
	{
		font-size: 1rem;
		position: relative;
		top: 3px;
	}
	.module_container
	{
		padding:5px;
	}
	.module
	{
		position:relative;
		padding-left:15px;
		padding-top:8px;
		padding-bottom:8px;
		padding-right:8px;
		background:#4b5154;
		margin-top:15px;
	}
	.module.selected
	{
		background:#2a90ea;
	}
	.module i,
	.module-adder a
	{
		position:absolute;
		top:50%;
		right:0px;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-o-transform:translateY(-50%);
	}
	.module-adder
	{
		position:relative;
		margin-top:15px;
		margin-bottom:15px;
	}
	.module-adder input
	{
		width:90%;
	}
	.main-container
	{
		
	}
	.module-adder-container
	{
		padding:5px;
	}
	.topic-adder h3
	{
		display: inline-block !important;
		position: relative;
		top:3px;
	}
	.topic-adder
	{
		position:relative;
		top:20px;
		left:5px;
	}
	.nav-pills
	{
		margin-top:40px;
	}
	.nav-pills .nav-item
	{
		margin-right:8px;
	}
	.widget-container
	{
		min-height:450px;
		position:relative;
	}
	.widget-container button
	{
		position:absolute;
		right:0px;
		bottom:0px;
	}
	.widget-heading
	{
		padding:1rem;
		position:relative;

	}
	.widget-changer
	{
		position:absolute;
		top:0px;
		right:0px;
	}
	.widget-changer select
	{
		width:100px;
	}
	.widget-changer button
	{
		position:relative;
	}
	.sort-icon{

		background-color: #ffc107;
	}