/*Custom Style Code here*/
.navbar-dark .navbar-toggler {
	border-color: rgba(255,255,255,.5);
}
.add-button{
	color: red;
}
.btn-round{
	border-radius: 50% !important;
}
.pad-left-10{
	padding-left: 10rem!important;
}
.btn-remove_bound{
	background: none !important;
    border: none !important;
}
.floating-insert
{
	position:fixed;
	right:5px;
	bottom:5px;
	z-index:10000;
}